MagicalPlace/Library/
MagicalPlace/Logs/
MagicalPlace/Temp/
MagicalPlace/Assembly-CSharp.csproj
MagicalPlace/MagicalPlace.sln
MagicalPlace/obj/
MagicalPlace/.vs/
MagicalPlace/Assembly-CSharp-Editor.csproj
GameBin/
